appdirs==1.4.3
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
cssselect==1.1.0
dateparser==0.7.2
demjson==2.2.4
elasticsearch==7.5.1
feedfinder2==0.0.4
feedparser==5.2.1
future==0.18.2
geograpy3==0.1.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
influxdb==5.2.3
jellyfish==0.7.2
jieba3k==0.35.1
jsonlike==0.0.2
lxml==4.5.0
newspaper3k==0.2.8
nltk==3.4.5
numpy==1.18.1
parsel==1.5.2
Pillow==9.3.0
ply==3.11
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==19.8.18
pycparser==2.19
PyDispatcher==2.0.5
pyee==7.0.1
PyHamcrest==2.0.0
pyOpenSSL==19.1.0
# pyppeteer==0.0.25
python-dateutil==2.8.1
python-geohash==0.8.5
python-memo==0.1.0
pytz==2019.3
PyYAML==5.3
queuelib==1.5.0
regex==2020.1.8
requests==2.22.0
requests-file==1.4.3
# Scrapy==1.5.0
# scrapy-pyppeteer==0.0.0
# git+https://github.com/lopuhin/scrapy-pyppeteer.git=scrapy-pyppeteer
scrapyd==1.2.0
service-identity==18.1.0
six==1.14.0
slimit==0.8.1
soupsieve==1.9.5
tinysegmenter==0.3
tldextract==2.2.2
tqdm==4.42.0
Twisted==18.9.0
tzlocal==2.0.0
unwrapper==1.0.0
urllib3==1.24.3
w3lib==1.21.0
websockets==8.1
zope.interface==4.7.1
